# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
bundist/
dist/
tsdist/
dist-ssr
*.local
.tsbuildinfo
bin/*.map
bin/tsemekwes

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation
.vale/
!.vale/styles/config/vocabularies/tsemekwes/accept.txt

# Linked projects
ogopego
tatsu
tiexiu
grammar/java.*

# AI
.corpus/
.antigravitycli/
.opencode/
